@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#nav-container {
    min-width: 965px;
    max-width: 1280px;
    height: 82px;
    margin: 25px auto;
    /* border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
   
}

a {
    text-decoration: none;
    color: black;
}

.nav-parts {}

#nav-part1 {
    width: 700px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.nav-items{
    border: 1px solid gray;
    padding: 5px;
    transform: skew(-30deg);
    margin-left: 10px;
    width: 90px;
    display: flex;
    justify-content: center;
    
}

@keyframes nav-hover {
    0%{box-shadow: 0px 0px 8px 1px rgba(16, 0, 0, 0.8);}
    100%{box-shadow: 0px 0px 2px 0px rgba(16, 0, 0, 0.7);}
    
}

@keyframes nav-nothover {
    100%{box-shadow: 0px 0px 8px 1px rgba(16, 0, 14, 0.8);}
    0%{box-shadow: 0px 0px 2px 0px rgba(16, 0, 0, 0.7);}
    
}

.nav-items:hover{
    animation-name: nav-hover;
  animation-duration: 0.5s;
  box-shadow: 0px 0px 2px 0px rgba(16, 0, 0, 0.7);
}

.nav-items:not(hover){
    animation-name: nav-nothover;
  animation-duration: 0.7s;
  box-shadow: 0px 0px 8px 1px rgba(16, 0, 0, 0.8);
  border-color: white;
}


#nav-part1>div:first-child {
    margin-left: 35px;

}

#nav-part1>div:nth-child(2) {
    width: 110px;

}

#nav-part1>div:nth-child(3) {
    width: 120px;

}

#nav-part1>div:nth-child(4) {
    width: 90px;
}

#nav-part2>img {

    size: cover;
    width: 80px;
    height: 85px;
    justify-content: center;
    align-items: center;
}

#nav-part2 {
    width: 80px;
    height: 80px;
    border: 1px solid gray;
    border-radius: 40px;
    margin-left: -25px;
    margin-right: -10px;
    background-color: bisque;
    z-index: 1;
    overflow: hidden;

}

#nav-part3 {
    width: 170px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.skew-reverse{
    transform: skew(30deg);
}

